/* Global */
html, body {
    margin: 0;
    height: 100%;
}

html{
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
}

/* Layout*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:#e9967a; 
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #e9967a;
}

/* Common */

a {
    text-decoration: none;
}

h2 {
    font-size: 2.0rem;
    padding: 0.5rem 0;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* Header */

header a {
    color: white;
    padding: 1rem;
}

header a:hover {
    color:aqua;
}


.brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}


/* Main */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 25rem;
    width: 100%;
}

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.5rem;
}

.rating span {
    color: gold;
    margin: 0.1rem;
}