/* Global */
html, body {
    margin: 0;
    height: 100%;
}

html{
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
}

/* Layout*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:#e9967a; 
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #e9967a;
}

/* Common */

a {
    text-decoration: none;
}

h2 {
    font-size: 2.0rem;
    padding: 0.5rem 0;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* Header */

header a {
    color: white;
    padding: 1rem;
}

header a:hover {
    color:aqua;
}


.brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}


/* Main */

.back {
    color: grey;
    font-size: 1.7rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

.row.top {
    align-items: flex-start;
}

.row.cart {
    font-size: 2.0rem;
}

.col-1 {
    flex: 1 1 25rem;
}

.col-2 {
    flex: 2 1 50rem;
}

.min-30 {
    min-width: 30;
}

img {
    border-radius: 0.5rem;
}

img.small {
    max-width: 10rem;
    width: 100%;
}

img.medium {
    max-width: 25rem;
    width: 100%;
}

img.large {
    max-width: 80rem;
    width: 90%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-top: 1.5rem;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

button:hover {
    border-color: black;
}

button.primary {
    background-color: cyan;
}

button.add, button.checkout{
    width: 100%;
}
/* Product card */

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.5rem;
}

.card-name {
    font-size: 2.0rem;
    padding: 1.0rem 0;
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0em;
}

.card-body span:hover {

    color: orange;
}

/* Rating */

.rating span {
    color: gold;
    margin: 0.1rem;
}

.rating span:last-child {
    color:black;
    margin-left: 1rem;
}

/* Buy Card */

.inStock {
    color: green;
}

.outStock{
    color: red;
}

/* Alerts */

.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: blue;
    background-color: #e0e0ff;
}

.alert-error {
    color: red;
    background-color: #ffe0e0e0;
}

/* Custom loader */
 
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper {
    margin-top: 20rem;
}

#loader-wrapper .loader-section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -7px;
    border: 3px solid transparent;
    border-top-color: skyblue;
    border-radius: 50%;
    z-index: 1500;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: orange;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: yellow;
    border-radius: 50%;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}