/* Global */
html, body {
    margin: 0;
    height: 100%;
}

html{
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
}

/* Layout*/
.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:#e9967a; 
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #e9967a;
}

/* Common */

a {
    text-decoration: none;
}

h2 {
    font-size: 2.0rem;
    padding: 0.5rem 0;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* Header */

header a {
    color: white;
    padding: 1rem;
}

header a:hover {
    color:aqua;
}


.brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}


/* Main */

.back {
    color: grey;
    font-size: 1.7rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

.row.top {
    align-items: flex-start;
}

.col-1 {
    flex: 1 1 25rem;
}

.col-2 {
    flex: 2 1 50rem;
}

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 25rem;
    width: 100%;
}

img.large {
    max-width: 80rem;
    width: 90%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-top: 1.5rem;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

button:hover {
    border-color: black;
}

button.primary {
    background-color: cyan;
}

button.add {
    width: 100%;
}
/* Product card */

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.5rem;
}

.card-name {
    font-size: 2.0rem;
    padding: 1.0rem 0;
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0em;
}

.card-body span:hover {

    color: orange;
}

/* Rating */

.rating span {
    color: gold;
    margin: 0.1rem;
}

.rating span:last-child {
    color:black;
    margin-left: 1rem;
}

.inStock {
    color: green;
}

.outStock{
    color: red;
}

.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: blue;
    background-color: #e0e0ff;
}

.alert-error {
    color: red;
    background-color: #ffe0e0e0;
}