html, body {
    margin: 0;
    height: 100%;
}

html{
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:#e9967a; 
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #e9967a;
}

a {
    text-decoration: none;
}

a:hover {
    color:aqua;
}

header a {
    color: white;
    padding: 1rem;
}

a.brand {
    font-size: 2rem;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}